@import "../../styles/vars.scss";

.form {
    &__control {
        margin-bottom: 2rem;

        padding: .5rem 0 .75rem;
        display: block;
        width: 100%;

        background: none;
        border: none;
        border-bottom: 1px solid $blue;
        border-radius: 0;
        box-shadow: none;
        font-family: inherit;
    }
}