@import "../../styles/vars.scss";

.comments {
    margin-top: 3rem;

}

.comments__item {
    margin-bottom: 1.5rem;

}

.comments__header {
    display: flex;
    margin-bottom: 1rem;
}

// .comments__avatar {
//     width: 3rem;
//     height: 3rem;
//     border-radius: 50%;
// }

.comments__author {
    //flex-grow: 1;
    //padding-left: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.4;
}

.comments__name {
    font-weight: 500;
    color: $black;
}

.comments__pubdate {
    color: #757575;
}

.comments__text {
    padding-left: 1rem;

    font-size: 1.3rem;
    line-height: 1.3;
    color: $black;
}

input.comments__text {
    padding: 1rem;
    width: 100%;
    border: $black solid 1px;
}

.comments__change {
    background: none;
    border: none;
    padding: 0;
    margin: 0 1rem;
    cursor: pointer;

    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    color: #107EFF;

    &:hover {
        text-decoration: underline;
    }
}