@import 'reset.scss';
@import 'vars.scss';
@import 'btn.scss';

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  font-family: apple-system, BlinkMacSystemFont, Segoe\UI, Roboto, Helvetica\Neue, Arial, Noto\Sans, sans-serif;
}

.container {
  width: 100%;
  max-width: 124rem;
  padding: 0 2rem;

  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
