@import "../../styles/vars.scss";

.sidebar {
    width: 20rem;
}

.boards {
    box-shadow: 0 0 15px 0 rgba(#000, 0.3);

    &__list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;

        border-radius: 4px;


        &:hover {
            background-color: darken(#fff, 10%);
        }
    }

    &__link {
        padding: 2rem;
        width: 100%;
        cursor: pointer;

        text-decoration: none;
        color: $black;
    }

    &__header {
        background-color: $blue;

        padding: 1rem;

        font-size: 1.8rem;
        font-weight: 600;
        color: $white;
    }

    &__title {
        font-weight: 600;
    }

    &__add-form {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        background-color: $blue;
    }

    &__add-input {
        margin-bottom: 1rem;
        height: 3rem;
        padding: 1rem;

        border-radius: 4px;
        border: 0;
    }
}