.form {
    margin: 0 auto;
    width: 600px;

    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
}